body {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.body {
    border: 20px solid rgb(36, 35, 35, 0.5);
    border-radius: 60px;
    margin: 5% 5%;
    padding: 2%;
    width: 80%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
}

h1,
h2,
h3 {
    color: antiquewhite;
    font-family: sans-serif;

}


/* h3 {
    font-family: sans-serif;
} */



.container {
    text-align: left;
    text-align: center;
}

/* form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
} */
.search {
    display: inline-flex;
    width: 100%;

}

.search-left {
    width: 38%;
    display: inline-flex;
    justify-content: left;
}

/* .search-mid {
    width: 28%;
    display: inline-flex;
    justify-content: center;
}

.search-mid h3 {
    padding: 0px 10px;
    font-family: Courier;
    font-weight: lighter;
}

.search-right {
    width: 38%;
    display: inline-flex;
    justify-content: right;
}

.search-right h3 {
    padding: 0px 10px;
    font-family: 'Courier New';
    font-weight: bolder;
} */

input {
    background-color: rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 35px;
    border-style: hidden;
    border-bottom: 1px solid gray;
    font-size: 1.5rem;
    color: aliceblue;
    border-radius: 20px;
}

input:hover {
    transform: scale(1.1);
}

button {
    border-style: none;
    height: 50px;
    width: 50px;
    margin-top: 2px;
    padding: 0px 2px;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0);
    /* Fully transparent */
    border: 1px solid rgba(0, 0, 0, 0);
    /* Fully transparent */
}

button:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.1);
    /* Fully transparent */
    border: 1px solid rgba(0, 0, 0, 0);
    /* Fully transparent */
}

.weather {
    display: flex;
    width: 100%;
    height: 80%;
}

.group-one {
    display: flex;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    padding: 2px;
}

.g-one {
    width: 100%;
    height: 95%;
    margin: 10px;
}

.p {
    padding: 2px;
}

.p:hover {
    transform: scale(1.2);
}

.group-two {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-two {
    display: inline-flex;
    justify-content: space-evenly;

}

.section-three {
    display: inline-flex;
    justify-content: space-evenly;

}

.section-four {
    display: inline-flex;
    justify-content: space-evenly;
    height: 100%;
}

/* .group .two {
    flex-direction: column;
} */

.longitude:hover {
    transform: scale(1.2);
}

.latitude:hover {
    transform: scale(1.2);
}

.sun:hover {
    transform: scale(1.2);
}

.wind-speed:hover {
    transform: scale(1.2);
}

.feels-like:hover {
    transform: scale(1.2);
}

.humidity:hover {
    transform: scale(1.2);
}

.temp-max:hover {
    transform: scale(1.2);
}

.temp-min:hover {
    transform: scale(1.2);
}

@media screen and (max-width:640px) {
    body {
        width: fit-content;
        margin: 0;
    }

    .body {
        border: none;
        border-radius: 20px;
        margin: 0;
        padding: 0;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.1);
        height: fit-content;
    }

    .container {
        height: 100%;
    }

    .search {
        width: 100%;
    }

    .group-one {
        width: 30%;
    }

    .search-left {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    .group-two {
        width: 70%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: right;
    }

    .section-two {
        justify-content: space-around;
    }

    .section-three {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;

    }

    .section-four {
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        height: 80%;

    }

}