<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

    <div class='body'>
        <div class='container'>
            <h1>Weather App</h1>
        </div>
        <div class='search'>
            <div class='search-left'>
                <form method='POST'>
                    {% csrf_token %}
                    <input type='text' name='city' placeholder='Enter City'>
                    <button type='submit'><img src='static/css/img/search.png' width='30px' ></button>
                </form>
            </div>
            {% comment %} <div class="search-mid">
                <h3><u><b>Today</b></u></h3>
                <h3>Week</h3>
            </div>
            <div class="search-right">
                <h3>Mode</h3>
                <h3>Login</h3>
            </div> {% endcomment %}
        </div>
        <div class='weather'>
            <div class="group-one">
                <div class='g-one'>
                    <div class='p one'>
                        <p>
                            <h1><img src='http://openweathermap.org/img/w/{{icon}}.png' width='100px'> {{description}}</h1>
                        </p>
                    </div>
                    <div class='p two'>
                        <h1><img src='static/css/img/temp.png' width='50px'> {{temp}}&#176; C</h1>
                    </div>
                    <div class='p three'>
                        <h2><img src='static/css/img/date.png' width='40px'> {{day}}</h2>
                    </div>
                    {% comment %} <div class='p four'>
                        <h3>{{description}}</h3>
                    </div> {% endcomment %}
                    <div class='p five'>
                        
                        <h2><img src='static/css/img/placeholder.png' width='50px'>{{city}}</h2>
                    </div>
                </div>
            </div>
            <div class="group-two">
                <div class='section-two'>

                    <div class='longitude'>
                        <h3>Longitude</h3>
                        <h2><img src='static/css/img/longitude.png' width='40px'>{{longitude}}</h2>
                    </div>

                    <div class='latitude'>
                        <h3>Latitude</h3>
                        <h1><img src='static/css/img/latitude.png' width='40px'>{{latitude}}</h1>
                    </div>
                </div>

                <div class='section-three'>
                    <div class='wind-speed'>
                        <h3>Wind Status</h3>
                        <h1>{{wind_speed}} km/h <img src='static/css/img/wind.png' width='40px'></h1>
                    </div>

                    <div class='feels-like'>
                        <h3>Feels Like</h3>
                        <h1>{{feels_like}}&#176; C <img src='static/css/img/temp.png' width='40px'></h1>
                    </div>

                    <div class='sun'>
                        {% comment %} <h2>Sunrise and Sunset</h2> {% endcomment %}
                        <div class='rise-set'>
                            <h1><img src='static/css/img/sunrise.png' width='40px'> {{sunrise}}</h1>
                            <h1><img src='static/css/img/sunset.png' width='40px'> {{sunset}}</h1>
                        </div>
                    </div>
                </div>

                <div class='section-four'>
                    <div class='humidity'>
                        <h3>Humidity</h3>
                        <h1><img src='static/css/img/humidity.png' width='40px'> {{humidity}}%</h1>
                    </div>

                    <div class='temp-max'>
                        <h3>Temp max</h3>
                        <h1>{{temp_max}}&#176; C <img src='static/css/img/max.png' width='40px'></h1>
                    </div>

                    <div class='temp-min'>
                        <h3>Temp min</h3>
                        <h1>{{temp_min}}&#176; C <img src='static/css/img/min_temp.png' width='40px'></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>